@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  font-family: "Indie Flower", cursive;
  font-size: 36px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  width: 33.3333%;
}

.container {
  display: flex;
  justify-content: space-between;

  max-width: 1175px;

  padding: 40px 32px;
}

.profile-image {
  & > img {
    width: 100%;
  }
}

.profile-drawing {
  display: flex;

  & > * > img {
    width: 100%;
  }
}

.heading {
  margin: 0 20px;

  & > img {
    width: 100%;
  }
}

.logo {
  margin-top: 50px;
}

.center {
  & > * {
    display: flex;
    justify-content: center;
  }
}

.info {
  &__github,
  &__email {
    display: flex;
    align-items: center;
  }

  &__description {
    display: flex;
    align-items: center;

    position: relative;

    margin-left: 20px;
  }

  &__icon {
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}

.deer {
  img {
    width: 100px;
  }
}
