@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  font-family: "Indie Flower", cursive;
  font-size: 28px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  position: relative;

  width: 33.3333%;
}

.container {
  display: flex;
  justify-content: space-between;

  max-width: 1280px;

  padding: 40px 32px;
}

.profile-image {
  & > img {
    width: 100%;
  }
}

.profile-drawing {
  display: flex;

  & > * > img {
    width: 100%;
  }
}

.heading {
  margin: 0 20px;

  & > img {
    width: 100%;
  }
}

.logo {
  margin-top: 50px;
}

.center {
  & > * {
    display: flex;
    justify-content: center;
  }
}

.info {
  &__github,
  &__email {
    display: flex;
    align-items: center;

    img {
      width: 70px;
    }
  }

  &__description {
    display: flex;
    align-items: center;

    position: relative;

    margin-left: 20px;

    img {
      position: absolute;
      right: -50px;
      bottom: 50px;
    }
  }

  &__icon {
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  margin-bottom: 75px;
}

.deer {
  img {
    width: 305px;
  }
}

.sword {
  position: absolute;
  bottom: 0;
  left: 85px;
}

.profile-name {
  margin-top: -50px;
}