---
import "../styles/index.scss"
---

<!DOCTYPE html>
<html lang="en">
	<body class="hero">
		<div class="hero__image--dove">
			<img src="/hero/dove.png" alt="dove">
		</div>
		<div class="hero__container--machine">
			<div class="hero__container--machine--circle"></div>
			<div class="hero__container--machine--image">
				<img src="/hero/machine.png" alt="machine">
			</div>
		</div>
	</body>
</html>
