---
import "../styles/profile.scss"
---

<!DOCTYPE html>
<html lang="en">
  <body>
    <main class="container">
		<div class="column">
			<div class="profile">
				<div class="profile-image"></div>
				<div class="profile-name"></div>
				<div class="profile-info">
					<div class="info">
						<div class="info__email"></div>
						<div class="info__github"></div>
						<div class="info__icon"></div>
					</div>
				</div>
				<div class="profile-drawing"></div>
			</div>
		</div>
		<div class="column"></div>
		<div class="column"></div>
	</main>
  </body>
</html>
