---
import "../styles/profile.scss";
---

<!DOCTYPE html>
<html lang="en">
  <body>
    <main class="container">
      <div class="column">
        <div class="profile">
          <div class="profile-image">
            <img src="/profile/eon.png" alt="" />
          </div>
          <div class="profile-name">
            <img src="/drawings/eon-name.svg" alt="" />
          </div>
          <div class="profile-info">
            <div class="info">
              <div class="info__email">
                <div class="info__logo">
                  <img src="/drawings/email.svg" alt="" />
                </div>
                <div class="info__description">eon@eternaldreamers.dev</div>
              </div>
              <div class="info__github">
                <div class="info__logo">
                  <img src="/drawings/github.svg" alt="" />
                </div>
                <div class="info__description">
                  <span>github.com/experimentallife</span>
                  <img src="/drawings/icon-angry.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="profile-drawing">
            <div>
              <img src="/drawings/robot.svg" alt="" />
            </div>
            <div>
              <img src="/drawings/fuah.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="center">
          <div class="heading"><img src="/drawings/title.svg" alt="" /></div>
          <div class="logo"><img src="/drawings/logo.svg" alt="" /></div>
          <div class="deer">
            <div>
              <img src="/drawings/deer.svg" alt="" />
            </div>
          </div>
          <div class="sword">
            <img src="/drawings/sword.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="column">
        <div class="profile">
          <div class="profile-image">
            <img src="/profile/clari.png" alt="" />
          </div>
          <div class="profile-name">
            <img src="/drawings/clari-name.svg" alt="" />
          </div>
          <div class="profile-info">
            <div class="info">
              <div class="info__email">
                <div class="info__logo">
                  <img src="/drawings/email.svg" alt="" />
                </div>
                <div class="info__description">eon@eternaldreamers.dev</div>
              </div>
              <div class="info__github">
                <div class="info__logo">
                  <img src="/drawings/github.svg" alt="" />
                </div>
                <div class="info__description">
                  <span>github.com/experimentallife</span>
                  <img src="/drawings/icon-uwu.svg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="profile-drawing">
            <div>
              <img src="/drawings/cean.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
